{% for student in students %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.school }}</td>
        <td>
             {% if student.user.photo %}
                <img src="{{ student.user.photo.url }}"
                     alt="" width="50"
                     style="background: rgba(15,174,221,0.97); padding: 2px;"/><br/><br/>
            {% endif %}
        </td>
        <td>{{ student.user.full_name }}</td>
        <td>{{ student.user.group }}</td>
        <td>{{ student.user.classroom }}</td>
        <td>{{ student.user.section }}</td>
        <td>{{ student.user.roll_no }}</td>
        <td>{{ student.user.email }}</td>
        <td>
            <button type="button"
                    class="btn btn-info btn-sm js-view-student"
                    data-url="{% url 'student_view' student.school.id student.id %}">
                <span class="glyphicon glyphicon-eye-open"></span> View
            </button>

            <br>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-student"
                    data-url="{% url 'student_update' student.school.id student.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <br>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-student"
                    data-url="{% url 'student_delete' student.school.id student.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
            <br>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="10" class="text-center bg-warning">No Student</td>
    </tr>
{% endfor %}