{% for exam in exams %}
    <tr>
        <td>{{ exam.id }}</td>
        <td>{{ exam.school }}</td>
        <td>{{ exam.exam_title }}</td>
        <td>{{ exam.start_date }}</td>
        <td>{{ exam.school.academic_year }}</td>
        <td>{{ exam.note }}</td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-exam"
                    data-url="{% url 'exam_update' exam.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-exam"
                    data-url="{% url 'exam_delete' exam.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No Exam</td>
    </tr>
{% endfor %}