{% for event in events %}
    <tr>
        <td>{{ event.id }}</td>
        <td>{{ event.school }}</td>
        <td>{{ event.event_title }}</td>
        <td>{{ event.event_for }}</td>
        <td>{{ event.event_place }}</td>
        <td>{{ event.from_date }}</td>
        <td>{{ event.to_date }}</td>
        <td>
             {% if event.image %}
            <img src="{{event.image.url}}"
                 alt="" width="80"
                 style="background: rgba(16,67,221,0.84); padding: 5px;"/><br/><br/>
            {% endif %}
        </td>
        <td>{{ event.Is_View_on_Web }}</td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-event"
                    data-url="{% url 'event_update' event.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-event"
                    data-url="{% url 'event_delete' event.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="10" class="text-center bg-warning">No Event</td>
    </tr>
{% endfor %}