<form method="post" action="{% url 'guardian_view' form.instance.pk %}" class="js-guardian-view-form"
      enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-lg" tabindex="-1" role="document" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Guardian Information</h4>
            </div>
            <div class="modal-body">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bordered" role="tablist">
                        <li class="active"><a href="#tab_content1" id="basic-tab" role="tab"
                                              data-toggle="tab" aria-expanded="true">
                            <i class="fa fa-info-circle">&nbsp;</i>Guardian Information</a>
                        </li>
                        <li class=""><a href="#tab_content2" role="tab" id="student-tab" data-toggle="tab"
                                        aria-expanded="false">
                            <i class="fa fa-user">&nbsp;</i>Student List</a>
                        </li>
                        <li class=""><a href="#tab_content3" role="tab" id="invoice-tab" data-toggle="tab"
                                        aria-expanded="false">
                            <i class="fa fa-dollar">&nbsp;</i>Invoice List</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                             aria-labelledby="basic-tab">
                            <p></p>
                            <table id="tablePreview" class="table table-bordered table-striped">
                                <!--Table head-->
                                <thead>
                                <tr>
                                    <th>School Name</th>
                                    <td>{{ form.instance.school_name }}</td>
                                </tr>
                                </thead>
                                <!--Table head-->
                                <!--Table body-->
                                <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ form.instance.full_name }}</td>
                                </tr>
                                <tr>
                                    <th>National ID</th>
                                    <td>{{ form.instance.national_ID }}</td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>{{ form.instance.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Profession</th>
                                    <td>{{ form.instance.profession }}</td>
                                </tr>
                                <tr>
                                    <th>Present Address</th>
                                    <td>{{ form.instance.present_address }}</td>
                                </tr>
                                <tr>
                                    <th>Permanent Address</th>
                                    <td>{{ form.instance.permanent_address }}</td>
                                </tr>
                                <tr>
                                    <th>Profession</th>
                                    <td>{{ form.instance.profession }}</td>
                                </tr>
                                <tr>
                                    <th>Religion</th>
                                    <td>{{ form.instance.religion }}</td>
                                </tr>
                                <tr>
                                    <th>Role</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ form.instance.email }}</td>
                                </tr>
                                <tr>
                                    <th>Photo</th>
                                    <td><img src="{{ form.instance.photo.url }}"
                                             alt="" width="30"
                                             style="background: rgba(15,174,221,0.97); padding: 2px;"/><br/></td>
                                </tr>
                                <tr>
                                    <th>Other Info</th>
                                    <td>{{ form.instance.other_info }}</td>
                                </tr>
                                </tbody>
                                <!--Table body-->
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="student-tab">
                            <p></p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="invoice-tab">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>