{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<h4>Edit Vehicle Route</h4>
<hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0;
 border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
{% load crispy_forms_tags %}
<div class="col-lg-4" style="float:left">
<form method="post" enctype="multipart/form-data">
<p>Edit Details</p>
  {% csrf_token %}
  {{ form|crispy}}
<button type="submit" class="btn btn-success">Submit</button>
<a href="{% url 'viewroute' %}"><button class="btn btn-info">Cancel</button></a>
</div>
</div>
{% endblock %}
