{% extends 'base.html' %}
{% block body %}
{% if all_info %}
{% for item in all_info %}
<style>
b{
font-size:100%;
color:blue;
}
</style>
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>

<nav class="nav navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'subjectsinaclass6' %}"><button class="btn btn-primary">All Subjects</button></a>
    </li>
  </ul>
</nav>
<hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<br><h4> <b>{{item.Subjectname}} </b> Subject Information</h4><br>
<div class="container" style="margin-left:20px; font-size:130%; padding:3px">
<div class="form-row" style="margin:5px;">
  <div class="col-lg-4" style="float:right">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Basic Information</h5>
        <p><b>Subject Name:  </b>{{ item.Subjectname  }}</p>
        <p><b>Subject Code:  </b>{{ item.Subjectcode }}</p>
        <p><b>Author:  </b>{{ item.Author }}</p>
        <p><b>Class:  </b>{{ item.Class  }}</p>
        <p><b>Subject Teacher:  </b>{{ item.SubjectTeacher}}</p>
        <p><b>Description:  </b>{{ item.OtherNotes }}</p>
      </div>
    </div>
  </div>


<div class="col-md-4 col-sm-6 col-xs-6" style="float:right">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <button class="btn btn-warning" name="button"> Print </button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
