{% extends 'base.html' %}

{% block body %}

<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<br><h4>All students that belong to guardian</h4>

  <hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
  <nav class="nav navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'viewguardians' %}"><button class="btn btn-warning">All Guardians</button></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'addguardian' %}"><button class="btn btn-primary">Guardian Details</button></a><li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'studentsofguardian' %}"><button class="btn btn-defaule">Student List</button></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Invoice List</button></a><li>
    </ul>
  </nav>
  <nav class="nav navbar-expand" style="float:left">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><button class="btn btn-default">List of Students</button></a>
      </li>
    </ul>
  </nav>
  <hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>

<div class="container" style="margin-left:20px; font-size:15px; padding:3px">
<table class="table table-hover" border="2">
   <thead class="table-success">
    <tr>
         <td>Photo</td>
         <td>Name</td>
         <td>Class</td>
         <td>Stream</td>
         <td>Admision No</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td><img src='{{ item.Student_Photo}}'></td>
       <td>{{ item.name}}</td>
       <td>{{ item.Class}}</td>
       <td>{{ item.stream}}</td>
       <td>{{ item.admission_no}}</td>
       <td><a  href="{% url 'singlestudentdetails' pk=item.id  %}">View</a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
</div>
{% endblock %}
