{% extends "app/base_site.html" %}

{% block title %} Exam Schedule {% endblock title %}

{% load static i18n %}

{% block javascript %}
    <script src="{% static 'schools/js/exam_schedules.js' %}"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"/>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-thumb-tack"></i><small> Manage Exam Schedule</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="#">Exam Grade</a>
                        | <a href="#">Exam Term</a>
                        | <a href="#">Exam Schedule</a>
                        | <a href="#">Exam Suggestions</a>
                        | <a href="#">Exam Attendance</a>
                    </div>

                    <div class="x_content">
                        <div class="" data-example-id="togglable-tabs">

                            <ul class="nav nav-tabs bordered">
                                <li class="active"><a href="#tab_exam_schedule_list" role="tab" data-toggle="tab"
                                                      aria-expanded="true"><i class="fa fa-list-ol"></i> Exam Schedule List</a>
                                </li>

                                <li class="">
                                    <!-- BUTTON TO TRIGGER THE ACTION -->
                                    <p>
                                        <button type="button" class="btn btn-primary js-create-exam_schedule"
                                                data-url="{% url 'exam_schedule_create' %}">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            New Exam Schedule
                                        </button>
                                    </p>
                                </li>
                            </ul>
                            <br/>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab_exam_schedule_list">
                                    <div class="x_content">

                                        <table id="exam_schedule-table"
                                               class="table table-striped table-bordered dt-responsive nowrap"
                                               cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>School</th>
                                                <th>Exam Title</th>
                                                <th>Class</th>
                                                <th>Subject</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Room No</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% include 'exam_schedules/includes/partial_exam_schedule_list.html' %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <!-- THE MODAL WE WILL BE USING -->
                                <div class="modal fade" id="modal-exam_schedule">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade bs-exam_schedule-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Exam Schedule Information</h4>
                    </div>
                    <div class="modal-body fn_exam_schedule_data">
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function () {
                $('#exam_schedule-table').DataTable({
                    dom: 'Bfrtip',
                    iDisplayLength: 15,
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        'print',
                        'pageLength'
                    ],
                    search: true,
                    responsive: true
                });
            });

        </script>
    </div>

{% endblock content %}

{% block javascripts %}

    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- Skycons -->
    <script src="/static/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>



{% endblock javascripts %}

