{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
  <br><h4>Student Attendance</h4>
  <hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
  <nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
    <i style="font-size: 15px; color:red;">Quick Links</i>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'studentattendance'%}">Student Attendence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewclassinformation'%}">Manage Class</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewsectioninformation'%}">Manage Section</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewsubjects'%}">Manage Subject</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewsyllabus'%}">Manage Syllabus</a>
      </li>
    </ul>
  </nav>
 <hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
  <nav class="nav navbar-expand" style="float:left">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><button class="btn btn-success">View Student Attendance</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><button class="btn btn-default">Take Roll Call</button></a>
      </li>
    </ul>
  </nav>
<br>
<div class="container" style="margin-left:20px; font-size:15px; padding:3px">
<table class="table table-hover" border="2">
  {% load crispy_forms_tags %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
   <thead class="table-success">
    <tr>
         <td>id</td>
         <td>Student Name</td>
         <td>Tick Present</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.name}}</td>
       <td>{{ form.Student_Attendance}}</td>
       <td>
        </td>
        {% endfor %}
     </tr>
     {% endif %}

   </tbody>
   <button type="submit" class="btn btn-primary" name="button">Submit</button>
   </form>
</table>
</div>
</div>
{% endblock %}
