<form method="post" action="{% url 'salary_grade_delete' school.id salary_grade.id %}" class="js-salary_grade-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirm Salary Grade deletion</h4>
    </div>
    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the salary Grade <strong>{{ salary_grade.grade_name }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete Salary Grade</button>
    </div>
</form>