{% load widget_tweaks %}

<form method="post" action="{% url 'salary_grade_create' %}" class="js-salary_grade-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create a new Salary Grade</h4>
    </div>
    <div class="modal-body">
         {% include 'salary_grades/includes/partial_salary_grade_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Salary Grade</button>
    </div>
</form>