{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
  <br>  <nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
      <ul class="navbar-nav mr-auto">
        <i style="font-size: 15px; color:red;">Quick Links</i>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewexamgrade'%}">Add Exam Grade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewexamterm'%}">Exam Term</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewexamschedule'%}">Exam Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewexamsuggestion'%}">Exam Suggestion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Exam Attendence</a>
        </li>
      </ul>
    </nav>
<h4>View Exam Suggestions List</h4>
<nav class="nav navbar-expand" style="float:left">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default"> Exam Suggestions List</button></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'addexamsuggestion' %}"><button class="btn btn-success">Add Exam Suggestions</button></a>
    </li>
  </ul>
</nav>
<br>
<table class="table table-hover" border="2">
   <thead class="table-success">
    <tr>
         <td>id</td>
         <td>School</td>
         <td>Suggestion Title </td>
         <td>Class</td>
         <td>Subject</td>
         <td>Suggestion File</td>
         <td>Notes</td>
         <td>Actions</td>

     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.School}}</td>
       <td>{{ item.SuggestionTitle}}</td>
       <td>{{ item.Class}}</td>
       <td>{{ item.Subject}}</td>
         <td>{{ item.Suggestion}}</td>
         <td>{{ item.Notes}}</td>
       <td><a href="{% url 'editexamsuggestion' pk=item.id  %}" >
         <button class="btn btn-warning">Edit</button></a>|
         <a href="{% url 'deleteexamsuggestion' pk=item.id %}" >
           <button class="btn btn-danger">Delete</button></a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
{% endblock %}
