{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
  <br>  <nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
      <ul class="navbar-nav mr-auto">
        <i style="font-size: 15px; color:red;">Quick Links</i>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewexamgrade'%}">Add Exam Grade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewexamterm'%}">Exam Term</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewexamschedule'%}">Exam Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewexamsuggestion'%}">Exam Suggestion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Exam Attendence</a>
        </li>
      </ul>
    </nav><br>
<h4>View Exam Grade List</h4>
<div class="container" style="margin-left:20px; font-size:15px; padding:3px">
<nav class="nav navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-default">Exam Grades List</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'addexamgrade' %}"><button class="btn btn-primary">Add Exam Grade</button></a>
    </li>

  </ul>
</nav>
<br>
<table class="table table-hover" border="2">
   <thead class="table-success">
    <tr>
         <td>id</td>
         <td>School</td>
         <td>Exam Grade</td>
         <td>Grade Point</td>
         <td>Mark From</td>
         <td>Mark To</td>
         <td>Mark Notes</td>
         <td>Notes</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.School}}</td>
       <td>{{ item.ExamGrade}}</td>
       <td>{{ item.GradePoint}}</td>
       <td>{{ item.MarkFrom}}</td>
       <td>{{ item.MarkTo}}</td>
       <td>{{ item.Notes}}</td>
       <td><a href="{% url 'editexamgrade' pk=item.id  %}" >
         <button class="btn btn-warning">Edit Details</button></a>|
         <a href="{% url 'deleteexamgrade' pk=item.id %}" >
           <button class="btn btn-danger">Delete Class</button></a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
</div>
{% endblock %}
