{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<h1>View List of Routines</h1>
<table class="table table-hover" border="2">
   <thead class="table-success">
     <tr>
         <td>id</td>
         <td>Class</td>
         <td>Section</td>
         <td>Subject</td>
         <td>Teacher</td>
         <td>Day</td>
         <td>Start Time</td>
         <td>End Time</td>
         <td>Address</td>
         <td>Room Number</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.Class}}</td>
       <td>{{ item.Section}}</td>
       <td>{{ item.Subject}}</td>
       <td>{{ item.Teacher}}</td>
       <td>{{ item.Day}}</td>
       <td>{{ item.StartTime}}</td>
       <td>{{ item.EndTime}}</td>
       <td>{{ item.Address}}</td>
       <td>{{ item.RoomNumber}}</td>
       <td><a href="{% url 'editroutine' pk=item.id  %}" >
         <button class="btn btn-warning">Edit</button></a>|
         <a href="{% url 'deleteroutine' pk=item.id %}" >
           <button class="btn btn-danger">Delete</button></a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
{% endblock %}
