{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<h4>Manage School Finance</h4>
<nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
  <i style="font-size: 15px; color:red;">Quick Links</i>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewdiscount'  %}">Discount</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewfeetype'  %}">FeeType</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'addfeecollection'  %}">FeeCollection</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"href="{% url 'viewfeecollection'  %}">ManageInvoice</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"href="{% url 'viewdiscount'  %}">DueFee</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewdiscount'  %}">DueFeeEmail</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewdiscount'  %}">DueFeeSMS</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewdiscount'  %}">IncomeHead</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewdiscount'  %}">Income</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"<a href="{% url 'viewdiscount'  %}">ExpenditureHead</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"<a href="{% url 'viewdiscount'  %}">Expenditure</a>
    </li>
  </ul>
</nav>
<nav class="nav navbar-expand" style="float:left">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default">Discounts list</button></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'adddiscount' %}"><button class="btn btn-success">Add Discount</button></a>
    </li>
  </ul>
</nav>
<br>
<table class="table table-hover" border="2">
   <thead class="table-success">
    <tr>
         <td>id</td>
         <td>School</td>
         <td>Title</td>
         <td>Amount</td>
         <td>Notes</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.School}}</td>
       <td>{{ item.Title}}</td>
       <td>{{ item.Amount}}</td>
       <td>{{ item.Notes}}</td>
       <td><a href="{% url 'editdiscount' pk=item.id  %}" >
         <button class="btn btn-warning">Edit</button></a>|
         <a href="{% url 'deletediscount' pk=item.id %}" >
           <button class="btn btn-danger">Delete</button></a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
{% endblock %}
