{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<h1>View Section Information</h1>
<table class="table table-hover" border="2">
   <thead class="table-success">
     <tr>
         <td>id</td>
         <td>Class Name</td>
         <td>Section Teacher</td>
         <td>Section Students</td>
         <td>Section Name</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info%}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.NameOfClass}}</td>
       <td>{{ item.SectionTeacher}}</td>
       <td>{{ item.NumberOfStudents}}</td>
       <td>{{ item.SectionName}}</td>
       <td><a href="{% url 'editsectioninformation' pk=item.id  %}" >
         <button class="btn btn-warning">Edit Details</button></a>|
         <a href="{% url 'deletesectioninformation' pk=item.id %}" >
           <button class="btn btn-danger">Delete Section</button></a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
{% endblock %}
