{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<h4>View Vehicles List</h4>
<nav class="nav navbar-expand">
  <p style="font-size: 15px;">Quick Links</p>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewvehicle' %}">Manage Vehicle</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Manage Route</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Transport Member</a>
    </li>

  </ul>
</nav>
<nav class="nav navbar-expand" style="float:left">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default">Vehicles List</button></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'addvehicle' %}"><button class="btn btn-success">Add Vehicle</button></a>
    </li>
  </ul>
</nav>
<br>
<table class="table table-hover" border="2">
   <thead class="table-success">
    <tr>
         <td>id</td>
         <td>School</td>
         <td>Car Number</td>
         <td>Car Model</td>
         <td>Driver</td>
         <td>Car License</td>
         <td>Car Contact</td>
         <td>Notes</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.School}}</td>
       <td>{{ item.VehicleNumber}}</td>
       <td>{{ item.VehicleModel}}</td>
       <td>{{ item.Driver}}</td>
       <td>{{ item.VehicleLicense}}</td>
       <td>{{ item.VehicleContact}}</td>
       <td>{{ item.Notes}}</td>
       <td><a href="{% url 'editvehicle' pk=item.id  %}" >
         <button class="btn btn-warning">Edit Details</button></a>|
         <a href="{% url 'deletevehicle' pk=item.id %}" >
           <button class="btn btn-danger">Delete Class</button></a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
{% endblock %}
