{% load widget_tweaks %}

<form method="post" action="{% url 'library_member_create' %}" class="js-library_member-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create a new library Member</h4>
    </div>
    <div class="modal-body">
         {% include 'library_members/includes/partial_library_member_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create library Member</button>
    </div>
</form>