<form method="post" action="{% url 'library_member_delete' library_member.id %}" class="js-library_member-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirm library Member deletion</h4>
    </div>
    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the library Member <strong>{{ library_member.name }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete library Member</button>
    </div>
</form>