{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<br><h4>View Section Information</h4>
<nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
  <ul class="navbar-nav mr-auto">
    <i style="font-size: 15px; color:red;">Quick Links</i>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewclassinformation'%}">Manage Class</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewsectioninformation'%}">Manage Section</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewsubjects'%}">Manage Subject</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewsyllabus'%}">Manage Syllabus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Manage Class Attendence</a>
    </li>
  </ul>
</nav>
  <hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<nav class="nav navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-default">View Section</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'createsectioninformation' %}"><button class="btn btn-primary">Add Section</button></a>
    </li>
  </ul>
</nav>
<div class="container" style="margin-left:20px; font-size:15px; padding:3px">
<table class="table table-hover" border="2">
   <thead class="table-success">
     <tr>
         <td>id</td>
         <td>Class Name</td>
         <td>Stream Teacher</td>
         <td>Section Students</td>
         <td>Section Name</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info%}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.NameOfClass }}</td>
       <td>{{ item.StreamTeacher}}</td>
       <td>{{ item.NumberOfStudents}}</td>
       <td>{{ item.SectionName}}</td>
       <td><a href="{% url 'editsectioninformation' pk=item.id  %}" >
         <button class="btn btn-warning">Edit Details</button></a>|
         <a href="{% url 'deletesectioninformation' pk=item.id %}" >
           <button class="btn btn-danger">Delete Section</button></a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
</div>
{% endblock %}
