{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 15px; padding: 0px 10px;">
  <br><h4>Manage Teachers</h4>
  <nav class="nav navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default">Add Teacher</button></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'viewteachers' %}"><button class="btn btn-primary">List of Teachers</button></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Teachers Archived</button></a>
      </li>
    </ul>
  </nav>
  <hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-row" style="margin:5px;">
  <div class="col-lg-4" style="float:right">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Basic Information</h5>
        <p>{{ form.Name |as_crispy_field }}</p>
        <p>{{ form.NationaId|as_crispy_field }}</p>
        <p>{{ form.Responsibility|as_crispy_field }}</p>
        <p>{{ form.Gender |as_crispy_field }}</p>
        <p>{{ form.BloodGroup|as_crispy_field }}</p>
        <p>{{ form.Religion|as_crispy_field }}</p>
        <p>{{ form.DateOfBirth |as_crispy_field }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 " >
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Academic Information</h5>
          <p>{{ form.Email|as_crispy_field }}</p>
          <p>{{ form.Username|as_crispy_field }}</p>
          <p>{{ form.Password|as_crispy_field }}</p>
          <p>{{ form.Salary|as_crispy_field }}</p>
          <p>{{ form.SalaryType|as_crispy_field }}</p>
          <p>{{ form.PermanentAddress|as_crispy_field }}</p>
            <p>{{ form.PresentAddress|as_crispy_field }}</p>

      </div>
     </div>
  </div>
<div class="col-lg-4 " >
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="text-warning">Other Information</h5>
      <p>{{ form.JoiningDate|as_crispy_field }}</p>
      <p>{{ form.TeacherPhoto|as_crispy_field }}</p>
      <p>{{ form.Resume|as_crispy_field }}</p>
      <p>{{ form.OtherInfo|as_crispy_field }}</p>
    </div>
  </div>
</div>
</div>
    <div class="col-md-4 col-sm-6 col-xs-6" style="float:right">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="text-default">Submit Data</h5>
          <button type="submit" class="btn btn-success" name="button"> Add Teacher </button>
        </div>
      </div>
    </div>
</form>
</div>
</div>
{% endblock %}
