{% extends 'base.html' %}
{% block body %}
{% if all_info %}
{% for item in all_info %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">

<nav class="nav navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'createteacher' %}"><button class="btn btn-primary">Add Teacher</button></a><li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewteachers' %}"><button class="btn btn-primary">List of Teachers</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-default">Teacher Details</button></a><li>
      <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Teachers Archived</button></a>
      </li>
  </ul>
</nav>
<div class="container" style="margin-left:20px; font-size:130%; padding:3px">
<br><h4>Biodata Information of Teacher : {{ item.Name}} </h4>
<style>
b{
font-size:100%;
color:blue;
}
</style>
<div class="form-row" style="margin:5px;">
  <div class="col-lg-4" style="float:right">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Basic Information</h5>
        <p><b>Name:  </b>{{ item.Name  }}</p>
        <p><b>National Id:  </b>{{ item.NationaId }}</p>
        <p><b>Responsibility:  </b>{{ item.Responsibility }}</p>
        <p><b>Gender:  </b>{{ item.Gender  }}</p>
        <p><b>Blood Group:  </b>{{ item.BloodGroup }}</p>
        <p><b>Religion:  </b>{{ item.Religion }}</p>
        <p><b>Date Of Birth:  </b>{{ item.DateOfBirth  }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 " >
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Academic Information</h5>
          <p><b>Email:  </b>{{ item.Email }}</p>
          <p><b>Username:  </b>{{ item.Username }}</p>
          <p><b>Password:  </b>{{ item.Password }}</p>
          <p><b>Salary:  </b>{{ item.Salary }}</p>
          <p><b>Salary Type:  </b>{{ item.SalaryType }}</p>
          <p><b>Permanent Address:  </b>{{ item.PermanentAddress }}</p>
            <p><b>Present Address:  </b>{{ item.PresentAddress }}</p>

      </div>
     </div>
  </div>
<div class="col-lg-4 " >
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="text-warning">Other Information</h5>
      <p><b>Date of Joining:  </b>{{ item.JoiningDate }}</p>
      <p><b>Photo:  </b><img src={{item.TeacherPhoto.url}}/></p>
      <p><b>Resume:  </b>{{ item.Resume }}</p>
      <p><b>Other Infor:  </b>{{ item.OtherInfo }}</p>
    </div>
  </div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-xs-6" style="float:right">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <button class="btn btn-warning" name="button"> Print </button>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-6" style="float:right">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="text-default">Edit Teacher's Data</h5>
      <a href="{% url 'editteacher' pk=item.id  %}"><button  class="btn btn-success" name="button"> Edit </button></a>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
