{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<br><h4>Manage News</h4>
<nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
  <i style="font-size: 15px; color:red;">Quick Links</i>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewnotice'  %}">Manage Notice</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewnotice'  %}">Manage Holiday</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewnews'  %}">Manage News</a>
    </li>
  </ul>
</nav>
<hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0;
 border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<nav class="nav navbar-expand" style="float:left">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default">Add News</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewnews' %}"><button class="btn btn-success">News List</button></a>
    </li>

  </ul>
</nav>
<br><br>
{% load crispy_forms_tags %}
<div class="col-lg-4" style="float:left">
<form method="post" enctype="multipart/form-data">
<p>Enter Details</p>
  {% csrf_token %}
  {{ form|crispy}}
<a href="{% url 'viewnews'%}" style="float:right"><button class="btn btn-danger">Cancel</button></a>
<button type="submit" class="btn btn-success">Submit</button></form>

</div>
</div>
{% endblock %}
