{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<br><h4>Manage News</h4>
<nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
  <i style="font-size: 15px; color:red;">Quick Links</i>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewnotice'  %}">Manage Notice</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewnotice'  %}">Manage Holiday</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewnews'  %}">Manage News</a>
    </li>
  </ul>
</nav>
<nav class="nav navbar-expand" style="float:left">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default">News List</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'addnews' %}"><button class="btn btn-success">Add Notice</button></a>
    </li>
  </ul>
</nav>
<br>
<table class="table table-hover" border="2" style="font-size:15px">
   <thead class="table-success">
    <tr>
         <td>id</td>
         <td>School</td>
         <td>News Title</td>
         <td>News Date</td>
         <td>Image</td>
         <td>News Details</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.School}}</td>
       <td>{{ item.NewsTitle}}</td>
       <td>{{ item.Date}}</td>
       <td>{{ item.Image}}</td>
       <td>{{ item.News}}</td>
       <td><a  href="{% url 'editnews' pk=item.id  %}" >Edit</a>|
         <a href="{% url 'deletenews' pk=item.id %}" >Delete</a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
{% endblock %}
