<form method="post" action="{% url 'hostel_member_update' form.instance.pk %}" class="js-hostel_member-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Update Hostel Member</h4>
    </div>
    <div class="modal-body">
        {% include 'hostel_members/includes/partial_hostel_member_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update Hostel Member</button>
    </div>
</form>