<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          {% load static %}
<link type="text/css" rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"/>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/rango-jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
<link type="text/css" rel="stylesheet" href="{% static 'css/awesome-fonts.css'%}">
    <title>MSMS</title>

<style>
</style>
</head>
<body><br>
  <div class="container-fluid">
  <div class="col-lg-12" style="margin-left:5.8%; margin-top:-2%">
  <nav class="container nav navbar-expand navbar-dark bg-info" >
    <div class="col-lg-12" style="color:white; font-size:160%">
      <h2>CANON MULTI SCHOOL MANAGEMENT SYSTEM</h2>
      <div class="collapse navbar-collapse" id="navbarExample02" style="float:right">
        <ul class="navbar-nav mr-auto" >
             <li class="nav-item">
            <a style="color:white" class="nav-link" href="{% url 'viewprofile'  %}">Profile</a>
            </li>
            <li class="nav-item">
           <a style="color:white" class="nav-link" href="{% url 'logout'  %}">logout</a>
           </li>
        </ul>
      </div>
    </div>
</nav>
</div>

<div class="row">
<div class="sidenav scrollbar scrollbar-primary">
  <br><br><br><br>
  <h3 style=" color: white">MANAGE</h3>

    <a href="{% url 'viewclassinformation'  %}">Classes</a>
    <a href="{% url 'viewsectioninformation'  %}">Streams</a>
    <a href="{% url 'viewteachers'  %}">Teachers</a>
    <a href="{% url 'viewsubjects'  %}">Subjects</a>
    <a href="{% url 'viewsyllabus'  %}">Syllabus</a>
   <a href="{% url 'viewhumanresource'  %}">Human Resource</a>
   <a href="{% url 'viewguardians'  %}">Guardian</a>

<button class="dropdown-btn">Attendance
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'studentattendance' %}">Students</a>
<a href="#">Teacher</a>
<a href="#">Employee</a>
<a href="#">AbsentSms</a>
<a href="#">AbsentEmail</a>
</div>
<a href="{% url 'viewassignment'  %}">Assignment</a>
<button class="dropdown-btn">Exam
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'viewexamgrade' %}">Exam Grade</a>
<a href="{% url 'viewexamterm' %}">Exam Term</a>
</div>
<a href="{% url 'viewexamschedule'%}">Exam Schedule</a>
<a href="{% url 'viewexamsuggestion'%}">ExamSuggestions</a>

<button class="dropdown-btn">Library
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'viewlibrarybook'  %}">Book</a>
<a href="#">Member</a>
<a href="#">Issue & Return</a>
</div>

<button class="dropdown-btn">Transport
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'viewvehicle'  %}">Vehicle</a>
<a href="{% url 'viewroute'  %}">Manage Route</a>
<a href="#">Transport Member</a>
</div>

<button class="dropdown-btn">Hostel
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'viewhostel'  %}">Manage Hostel</a>
<a href="{% url 'viewroom' %}">Manage Room</a>
<a href="#">Hostel Member</a>
</div>

<a href="{% url 'viewvisitor'%}">Visitor Info</a>

<button class="dropdown-btn">Payroll
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'viewsalarygrade'  %}">Salary Grade</a>
<a href="{% url 'viewsalarygrade'  %}">Salary Payment</a>
<a href="{% url 'viewsalarygrade'  %}">Payment History</a>
</div>

<button class="dropdown-btn">Accounting
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'viewdiscount'  %}">Discount</a>
<a href="{% url 'viewfeetype'  %}">Fee Type</a>
<a href="{% url 'viewfeecollection' %}">Fee Collection</a>
<a href="{% url 'viewdiscount'  %}">Manage Invoice</a>
<a href="{% url 'viewdiscount'  %}">Due Fee</a>
<a href="{% url 'viewdiscount'  %}">Income</a>
<a href="{% url 'viewdiscount'  %}">Expenditure</a>
</div>

<button class="dropdown-btn">Reports
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'viewdiscount'  %}">Income Report</a>
<a href="#">Expenditure Report</a>
<a href="#">Invoice Report</a>
<a href="#">Fee Collections Repport</a>
<a href="#">Accounting Balance Report</a>
<a href="#">Library Report</a>
<a href="#">Student Attendance</a>
</div>
<a href="{% url 'viewevents'  %}">Events</a>
<button class="dropdown-btn">Announcement
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
    <a href="{% url 'viewnotice'  %}">Notice</a>
    <a href="{% url 'viewnews'  %}">News</a>
    <a href="{% url 'viewholidays'  %}">Holiday</a>
</div>

<button class="dropdown-btn">Profile
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
    <a href="{% url 'viewprofile'  %}">Manage Profiles</a>
    <a href="#">Password reset</a>
    <a href="#">Logout</a>
</div>

<button class="dropdown-btn">Students
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
    <a href="{% url 'addstudent'  %}">Admit Students</a>
    <a href="{% url 'viewstudents' %}">Manage Student</a>
    <a href="#">Student Activity</a>
</div>

<a href="{% url 'viewschools'  %}">Manage School</a>

<button class="dropdown-btn">Student Class
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'studentsinaclass1'  %}">Form One</a>
<a href="{% url 'studentsinaclass2' %}">Form Two</a>
<a href="{% url 'studentsinaclass3' %}">Form Three</a>
<a href="{% url 'studentsinaclass4' %}">Form Four</a>
<a href="{% url 'studentsinaclass5' %}">Form Five</a>
<a href="{% url 'studentsinaclass6' %}">Form Six</a>
</div>

<button class="dropdown-btn">Class Subjects
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'subjectsinaclass1'  %}">Form One</a>
<a href="{% url 'subjectsinaclass2' %}">Form Two</a>
<a href="{% url 'subjectsinaclass3' %}">Form Three</a>
<a href="{% url 'subjectsinaclass4' %}">Form Four</a>
<a href="{% url 'subjectsinaclass5' %}">Form Five</a>
<a href="{% url 'subjectsinaclass6' %}">Form Six</a>
</div>

<button class="dropdown-btn">Class Syllabus
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'syllabusofclass1'  %}">Form One</a>
<a href="{% url 'syllabusofclass2'  %}">Form Two</a>
<a href="{% url 'syllabusofclass3'  %}">Form Three</a>
<a href="{% url 'syllabusofclass4'  %}">Form Four</a>
<a href="{% url 'syllabusofclass5'  %}">Form Five</a>
<a href="{% url 'syllabusofclass6'  %}">Form Six</a>
</div>

<button class="dropdown-btn">Class Assignments
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'assignmentofclass1'  %}">Form One</a>
<a href="{% url 'assignmentofclass2'  %}">Form Two</a>
<a href="{% url 'assignmentofclass3'  %}">Form Three</a>
<a href="{% url 'assignmentofclass4'  %}">Form Four</a>
<a href="{% url 'assignmentofclass5'  %}">Form Five</a>
<a href="{% url 'assignmentofclass6'  %}">Form Six</a>
</div>

<button class="dropdown-btn">Class Streams
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'streamsofclass1'  %}">Form One</a>
<a href="{% url 'streamsofclass2'  %}">Form Two</a>
<a href="{% url 'streamsofclass3'  %}">Form Three</a>
<a href="{% url 'streamsofclass4'  %}">Form Four</a>
<a href="{% url 'streamsofclass5'  %}">Form Five</a>
<a href="{% url 'streamsofclass6'  %}">Form Six</a>
</div>

<button class="dropdown-btn">GuardianClasses
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
<a href="{% url 'students_of_guardian_in_form_one'  %}">Form One</a>
<a href="{% url 'students_of_guardian_in_form_two'  %}">Form Two</a>
<a href="{% url 'students_of_guardian_in_form_three'  %}">Form Three</a>
<a href="{% url 'students_of_guardian_in_form_four'  %}">Form Four</a>
<a href="{% url 'students_of_guardian_in_form_five'  %}">Form Five</a>
<a href="{% url 'students_of_guardian_in_form_six'  %}">Form Six</a>
</div>
<a href="{% url 'search_student'  %}">Search Student</a>
</div>


</div>

</div>


{% block body %}
{% endblock %}

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;
for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD'
        });
    });
</script>
</div>
</body>

</html>
