<nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
  <ul class="navbar-nav mr-auto">
    <i style="font-size: 15px; color:red;">Quick Links</i>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewclass'%}">Manage Class</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewsection'%}">Manage Section</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewsubject'%}">Manage Subject</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewsyllabus'%}">Manage Syllabus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Manage Class Attendence</a>
    </li>
  </ul>
</nav>
