{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
  <br><h4>Manage Profiles</h4>
  <nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
    <i style="font-size: 15px; color:red;">Quick Links</i>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'viewprofile'  %}">Manage Profile</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'viewprofile'  %}">Reset Password</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'viewprofile'  %}">Log Out</a>
      </li>
    </ul>
  </nav>
  <nav class="nav navbar-expand" style="float:left">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><button class="btn btn-default">List of Profiles</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'addprofile' %}"><button class="btn btn-success">Add Profiles</button></a>
      </li>

    </ul>
  </nav>
<br>
<table class="table table-hover" border="2" style="font-size:15px">
   <thead class="table-success">
    <tr>
         <td>id</td>
         <td>Name</td>
         <td>Phone</td>
         <td>Cur Address</td>
         <td>Per Address</td>
         <td>Gender</td>
         <td>Birth Dates</td>
         <td>Religion</td>
         <td>Email</td>
         <td>Photo</td>
         <td>Resume</td>
         <td>Other Information</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.Name}}</td>
       <td>{{ item.Phone}}</td>
       <td>{{ item.PresentAdress}}</td>
       <td>{{ item.PermanentAddress}}</td>
       <td>{{ item.Gender}}</td>
       <td>{{ item.DateOfBirth}}</td>
       <td>{{ item.Religion}}</td>
       <td>{{ item.Email}}</td>
       <td>{{ item.Photo}}</td>
       <td>{{ item.Resume}}</td>
       <td>{{ item.OtherInfo}}</td>
       <td><a  href="{% url 'editprofile' pk=item.id  %}" >Update</a>|
         <a href="{% url 'deleteprofile' pk=item.id %}" >Delete</a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
{% endblock %}
