{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
  {% load crispy_forms_tags %}
  <form method="get">
    <nav class="container nav navbar-expand navbar" >
      <div style="color:black; font-size:160%">
          <ul class="navbar-nav mr-auto" >
               <li class="nav-item">
              {{ filter.form.name|as_crispy_field  }}
              </li>
              <li class="nav-item">
             {{ filter.form.Class|as_crispy_field  }}
             </li>
             <li class="nav-item">
             {{ filter.form.stream|as_crispy_field  }}
            </li>
            <li style="margin-left:5%"> <button type="submit" style="margin-top:60%;" class="btn btn-primary">Search </button>
            </li>
          </ul>
      </div>
  </nav>



  </form>
  <ul>
    <div class="container" style="margin-left:2px; font-size:15px; padding:3px">
    <table class="table table-hover" border="2">
       <thead class="table-success">
        <tr>
             <td>Reg Number</td>
             <td>Photo</td>
             <td>Name</td>
             <td>Class</td>
             <td>Stream</td>
             <td>Admision No</td>
             <td>Action</td>
         </tr>
       </thead>
       <tbody>
           {% for student in filter.qs %}
         <tr>
           <td>{{ student.admission_no}}</td>

           <td>{% if student.Student_Photo %}<img src="{{ student.Student_Photo.url}}" width="50">{% endif %}</td>
           <td>{{ student.name}}</td>
           <td>{{ student.Class}}</td>
           <td>{{ student.stream}}</td>
           <td>{{ student.admission_no}}</td>
           <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
           <td><a class="btn btn-primary a-btn-slide-text" href="{% url 'singlestudentdetails' pk=student.id  %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          <span><strong>View</strong></span></a>
             <a class="btn btn-danger a-btn-slide-text" href="{% url 'deletestudent' pk=student.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span><strong>Delete</strong></span> </a>
           </td>
            {% endfor %}
         </tr>
       </tbody>
    </table>
    </div>
  </div>
{% endblock %}
