{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
  <br><h1>Manage Human Resource</h1>
  <nav class="nav navbar-expand">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default">Add HumanResource</button></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'viewhumanresource' %}"><button class="btn btn-primary">Human Resource Managers</button></a>
      </li>
    </ul>
  </nav>
  <hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
  {% load crispy_forms_tags %}
<div class="container" style="margin-left:20px; font-size:15px; padding:3px">
  <div class="col-lg-4" style="float:left">
    <form method="post" enctype="multipart/form-data">
    <p>Enter Details</p>
      {% csrf_token %}
    {{ form|crispy}}
    <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>

  <div class="col-lg-7 jumbotron" style="float:right; border:1px solid red; margin-right:3%">
    <p>More Human Resource Information</p>
  </div>
</div>
</div>
{% endblock %}
