{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<h4>Manage Invoice</h4>
<nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
  <i style="font-size: 15px; color:red;">Quick Links</i>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewdiscount'  %}">Discount</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewfeetype'  %}">FeeType</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewfeecollection'  %}">FeeCollection</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"href="{% url 'viewfeecollection'  %}">ManageInvoice</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"href="#">DueFee</a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewincome'  %}">Income</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"<a href="{% url 'viewexpenditure'  %}">Expenditure</a>
    </li>
  </ul>
</nav>
<hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0;
 border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<nav class="nav navbar-expand" style="float:left">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewfeecollection' %}"><button class="btn btn-success">Invoice List</button></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default">Create Invoice</button></a>
    </li>
  </ul>
</nav>
<br><br>
{% load crispy_forms_tags %}
<div class="col-lg-4" style="float:left">
<form method="post" enctype="multipart/form-data" novalidate>
<p>Enter Details</p>
  {% csrf_token %}
  <div class="x_content">
    <form id="myForm"
          method="GET"
          class="form-inline"
          data-school="{{ request.GET.School }}"
          data-classroom="{{ request.GET.Class }}"
          data-section="{{ request.GET.Section }}">
        <div class="row">

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="item form-group">
                    <label for="schoolSelect">School</label>
                    {% render_field form.School title="Schools" class="form-control" %}
                </div>
            </div>


            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="item form-group">
                    <label for="classroomSelect">Classroom</label>
                    {% render_field form.Class title="Classrooms" class="form-control" %}
                </div>
            </div>


            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="item form-group">
                    <label for="sectionSelect">Section</label>
                    {% render_field form.Section title="Section" class="form-control" %}
                </div>
            </div>

            <div class="form-group">
                <button id="btnSubmit" class="btn btn-success" type="submit">Filter</button>
            </div>
            <div class="item form-group">
                <label >Student Name</label>
                {% render_field form.Student_Name  class="form-control" %}
            </div>
            <div class="item form-group">
                <label >Fee Type</label>
                {% render_field form.FeeType  class="form-control" %}
            </div>
            <div class="item form-group">
                <label >Amount</label>
                {% render_field form.FeeAmount  class="form-control" %}
            </div>

            <div class="item form-group">
                <label >Month</label>
                {% render_field form.Month  class="form-control" %}
            </div>
            <div class="item form-group">
                <label >Discount applicable</label>
                {% render_field form.IsApplicableDiscount  class="form-control" %}
            </div>
            <div class="item form-group">
                <label >Status</label>
                {% render_field form.PaidStatus class="form-control" %}
            </div>
            <div class="item form-group">
                <label >Notes</label>
                {% render_field form.Notes  class="form-control" %}
            </div>
        </div>

    </form>

</div>
</div>
</div>
{% endblock %}
