{% for expenditure_head in expenditure_heads %}
    <tr>
        <td>{{ expenditure_head.id }}</td>
        <td>{{ expenditure_head.school }}</td>
        <td>{{ expenditure_head.expenditure_head }}</td>
        <td>{{ expenditure_head.note }}</td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-expenditure_head"
                    data-url="{% url 'expenditure_head_update' expenditure_head.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-expenditure_head"
                    data-url="{% url 'expenditure_head_delete' expenditure_head.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No Expenditure Head</td>
    </tr>
{% endfor %}