{% load widget_tweaks %}

<form method="post" action="{% url 'income_create' %}" class="js-income-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create a New Income</h4>
    </div>
    <div class="modal-body">
         {% include 'incomes/includes/partial_income_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Income</button>
    </div>
</form>