{% extends 'base.html' %}
{% block body %}
{% if all_info %}
{% for item in all_info %}
<style>
b{
font-size:100%;
color:blue;
}
</style>
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<br><h4>Guardian Of <b>{{ item.name}} </b> Information</h4><br>
<hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<nav class="nav navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewstudents' %}"><button class="btn btn-warning">All Students</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'singlestudentdetails' pk=item.id  %}"><button class="btn btn-primary">Basic Information</button></a><li>
    <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-default">Guardian Information</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-primary">Parent Information</button></a><li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Attendance</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Exam Mark</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Payment</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Activity</button></a>
    </li>
  </ul>
</nav>
<hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<div class="container" style="margin-left:20px; font-size:130%; padding:3px">
<div class="form-row" style="margin:5px;">
  <div class="col-lg-4 center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Basic Information</h5>
        <p><b>Guardian Name:  </b>{{ item.Guardian  }}</p>
        <p><b>Relationship:  </b>{{ item.GuardianRelationshipToStudent }}</p>
        <p><b>Telephone:  </b>{{ item.phone }}</p>
        <p><b>Gender:  </b>{{ item.gender  }}</p>
        <p><b>National Id:  </b>{{ item.NationaId}}</p>
        <p><b>Religion:  </b>{{ item.religion }}</p>
        <p><b>Current Address:  </b>{{ item.PresentAddress}}</p>
        <p><b>Permanent Address:  </b>{{ item.PermanentAddress }}</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-6" style="float:right">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <button class="btn btn-warning" name="button"> Print </button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-6" style="float:right">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-default">Edit Parent's Data</h5>
        <a href="{% url 'editstudent' pk=item.id  %}"><button  class="btn btn-success" name="button"> Edit </button></a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
