{% extends 'base.html' %}
{% block body %}
{% if all_info %}
{% for item in all_info %}
<style>
b{
font-size:100%;
color:blue;
}
</style>
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<br><h4> Details of the Parents of <b>{{ item.name}} </b></h4><br>
<hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<nav class="nav navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewstudents' %}"><button class="btn btn-warning">All Students</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'singlestudentdetails'pk=item.id  %}"><button class="btn btn-primary">Basic Information</button></a><li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'guardianofstudentdetails' pk=item.id  %}"><button class="btn btn-primary">Guardian Information</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'parentofstudentdetails' pk=item.id  %}"><button class="btn btn-default">Parent Information</button></a><li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Attendance</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Exam Mark</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Payment</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Activity</button></a>
    </li>
  </ul>
</nav>
<hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<div class="container" style="margin-left:20px; font-size:130%; padding:3px">
<div class="form-row" style="margin:5px;">
  <div class="col-lg-4" style="float:left">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Father's Information</h5>
        <p><b>Name:  </b>{{ item.FatherName  }}</p>
        <p><b>Telephone:  </b>{{ item.FatherPhone }}</p>
        <p><b>Profession:  </b>{{ item.FatherProfession }}</p>
        <p><b>Designation:  </b>{{ item.FatherDesignation  }}</p>
        <p><b>Photo:  <img src='{{ item.Father_Photo}}'</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4" style="float:right">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Mother's Information</h5>
        <p><b>Name:  </b>{{ item.MotherName  }}</p>
        <p><b>Telephone:  </b>{{ item.MotherPhone }}</p>
        <p><b>Profession:  </b>{{ item.MotherProfession }}</p>
        <p><b>Designation:  </b>{{ item.MotherDesignation  }}</p>
        <p><b>Photo:  <img src='{{ item.Mother_Photo}}'</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 " >
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <button class="btn btn-warning" name="button"> Print </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6" style="float:right">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="text-default">Edit Parent's Data</h5>
          <a href="{% url 'editstudent' pk=item.id  %}"><button  class="btn btn-success" name="button"> Edit </button></a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
