{% extends 'base.html' %}
{% block body %}
{% if all_info %}
{% for item in all_info %}
<style>
b{
font-size:100%;
color:blue;
}
</style>
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<br><h4> Student's Information  of <b>{{ item.name}} </b></h4><br>
<hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<nav class="nav navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewstudents' %}"><button class="btn btn-warning">All Students</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-default">Basic Information</button></a><li>
    <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-primary">Guardian Information</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><button class="btn btn-primary">Parent Information</button></a><li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Attendance</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Exam Mark</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Payment</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-primary">Activity</button></a>
    </li>
  </ul>
</nav>
<hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<div class="container" style="margin-left:20px; font-size:130%; padding:3px">
<div class="form-row" style="margin:5px;">
  <div class="col-lg-4" style="float:right">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Basic Information</h5>
        <p><b>Name:  </b>{{ item.name  }}</p>
        <p><b>Username:  </b>{{ item.username }}</p>
        <p><b>Birth Date:  </b>{{ item.Birth_Date }}</p>
        <p><b>Gender:  </b>{{ item.gender  }}</p>
        <p><b>Admission No:  </b>{{ item.admission_no}}</p>
        <p><b>Religion:  </b>{{ item.religion }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 " >
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="text-warning">Academic Information</h5>
          <p><b>Class:  </b>{{ item.Class }}</p>
          <p><b>Stream:  </b>{{ item.stream }}</p>
          <p><b>Previous School:  </b>{{ item.previous_school }}</p>
          <p><b>Transfer Certificate:  </b><img src="{{ item.Transfer_Certificate }}"</p>
          <p><b>Email:  </b>{{ item.email }}</p>

      </div>
     </div>
  </div>
<div class="col-lg-4 " >
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="text-warning">Other Information</h5>
      <p><b>Date of Joining:  </b>{{ item.admission_date }}</p>
      <p><b>Photo:  </b><img src='{{item.Student_Photo.url}}'/></p>
      <p><b>Health Condition:  </b>{{ item.health_condition }}</p>
      <p><b>Password:  </b>{{ item.password }}</p>
      <p><b>Address:  </b>{{ item.PresentAddress }}</p>
    </div>
  </div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-xs-6" style="float:right">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <button class="btn btn-warning" name="button"> Print </button>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-6" style="float:right">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="text-default">Edit Student's Data</h5>
      <a href="{% url 'editstudent' pk=item.id  %}"><button  class="btn btn-success" name="button"> Edit </button></a>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
