{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<br><h4>Manage Events</h4>
<nav class="nav navbar-expand" style="float:left">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default">Events List</button></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'addevents' %}"><button class="btn btn-success">Add Salary Grade</button></a>
    </li>
  </ul>
</nav>
<br>
<table class="table table-hover" border="2" style="font-size:15px">
   <thead class="table-success">
    <tr>
         <td>id</td>
         <td>School</td>
         <td>Events Title</td>
         <td>Event Place</td>
         <td>From Date</td>
         <td>To Date</td>
         <td>Image</td>
         <td>Notes</td>
         <td>Action</td>
     </tr>
   </thead>
   <tbody>
     {% if all_info %}
     {% for item in all_info %}
     <tr>
       <td>{{ item.id}}</td>
       <td>{{ item.School}}</td>
       <td>{{ item.EventTitle}}</td>
       <td>{{ item.EventPlace}}</td>
       <td>{{ item.FromDate}}</td>
       <td>{{ item.ToDate}}</td>
       <td>{{ item.Image}}</td>
       <td>{{ item.Notes}}</td>
       <td><a  href="{% url 'editevents' pk=item.id  %}" >Edit</a>|
         <a href="{% url 'deleteevents' pk=item.id %}" >Delete</a>
       </td>
        {% endfor %}
     </tr>
     {% endif %}
   </tbody>
</table>
</div>
{% endblock %}
